body {
  padding: 0px;
  margin: 0px;
  background-color: #eee;
}
.opcao-entrar{
  padding-top: 10%;
  width: 300px;
  text-align: center;
}
.card-width{
	max-width: 30rem;
}
.navbar-oculta{
	display: none;
}
.msg-perfil{
	text-align: center;
	padding-top: 100px;
	padding-left: 100px;
}
#msg_login{
    text-align: center;
}
#msg_login img{
  width: 40px;
}
#msg {
    text-align: center;
}
#msg img{
    width: 40px;
}



